:root {
  --base-font-size: 16px;
  --heading-font-size: 20px;

  --background-color: #F2F6F8;
  --primary-color: #5056ED;
  --warn-color: #ED5050;
  --base-text-color: rgba(0, 0, 0, 0.9);
  --history-text-color: rgba(0, 0, 0, 0.8);

  --container-width: 1000px;
  --card-radius: 25px;
  --card-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  --overlay-backdrop: rgba(0, 0, 0, 0.3);

  --button-height: 40px;
  --input-height: 40px;
}

.header {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
}

.logo {
margin-left: 60px;
height: 40px;
}

.total-time{
  margin-left: auto; 
  margin-right: 60px;
  font-size: 20px;
}

.add {
  height: 60px;
  left: 1210px;
  position: absolute;
  top: 628px;
  width: 62px;
}
.add-task {
  background-color: var(--primary-color);
  border-radius: 30px;
  height: 60px;
  position: relative;
  width: 60px;
}

.add-symbol {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.popup-rectangle {
  background-color: #0000004c;
  height: 750px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1530px;
  z-index: 10;
}
.img {
  height: 240px;
  left: 400px;
  position: absolute;
  top: 240px;
  width: 646px;
}
.popup-label {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 430px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 291px;
  white-space: nowrap;
}
.save-button {
  background-color: var(--primary-color);
  height: var(--button-height);
  border-radius: 57px;
  width: 138px;
  color: #fff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 430px;
  position: absolute;
  top: 387px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.popup-rectangle input {
  border: 1px solid;
  border-color: #00000033;
  border-radius: 8px;
  height: 40px;
  left: 430px;
  position: absolute;
  top: 318px;
  width: 554px;
}

.App {
  font-size: var(--base-font-size);
  color: var(--base-text-color);
  background-color: var(--background-color);
} 

